body{
  background:url(backone.jpg);
  padding-top: 150px;
}
.up{
  text-align: center;
  opacity: 1;
  animation: arrive 500ms ease-in-out 0.7s forwards;
  top: 0;
}

.user__title{
  font-size:  25px;
  color:white;
  font-family:cursive;
}

.form{
  margin-top: 10px;
    border-radius: 60px;
    overflow: hidden;
    opacity: 0.9;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    box-sizing: border-box;

}

input {
  display    : block;
  height     : 48px;
  margin     : 0 auto 17px;
  text-align : center;
  width      : 266px;
  border-radius : 5px;
}

.loginbox{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 500px;
  box-sizing: border-box;
  background: rgba(0,0,0,.5)
}
.styles{
  color: white;
  font-family:cursive;
}
.btn{
  width: 250px;
  background-color: aquamarine;
  font-size: 20px;
  font-family: cursive;
  color: orange;

}
.btn:hover {
background-color: white;
color:aquamarine;
}
.p{
  font-family: cursive;
  color: white;
}
